html {
	background: url('tile.png');
}

a:link, a:visited {
	color: #9ca6ab;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 1px;
	margin: 0 10px;
}

a:link:hover, a:visited:hover {
	color: white;
}

#game {
	border: 8px solid;
	border-image: url('border.png') 8 round;
	margin: auto;
}

#game > * {
	background-color: #161d22;
}

#game, .gamesize {
	width: 720px;
	height: 480px;
}

#game button {
	border: 0;
	position: absolute;
	font-size: 48px;
	-webkit-text-stroke: 3px #384040;
	color: white;
}

#play {
	background-image: url('title-screen-faded.png');
	background-size: 100%;
}

#title {
	display: block;
	margin: auto;
}

#content {
	width: 100%;
	margin: auto;
	text-align: center;
	color: white;
}

footer {
	margin-top: 20px;
	font-family: 'Source Sans Pro', 'Source Code Pro', sans-serif;
}